.team{
    margin-top: 16px;
    text-align: center;
}


.img-about{
    max-width: 250px;
    max-height: 250px;
    align-self: center;
    border: 8px solid #ccc;
    border-radius: 60px;
    margin-bottom: 20px;
}

.info{
padding-left: 10px;
font-weight: 500;
line-height: 1.6;

}
.info p{
    padding-left: 10px;
}