@font-face {
    font-family: caveat;
    src: url(~@/assets/fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(~@/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: LavvicB;
    src: url(~@/assets/fonts/Livvic/Livvic-Bold.ttf);
}
@font-face {
    font-family: LavvicSB;
    src: url(~@/assets/fonts/Livvic/Livvic-SemiBold.ttf);
}
